{%extends "base.html"%}

{%block content%}

<div class="about">

    <p>
        Este projecto foi realizado com a ajuda da framework flask de python, e com a biblioteca d3.js de javascript.
        Os dados são obtidos em tempo real, faz scrape ao site de <a href="https://www.itjobs.pt/" target="_blank" rel="noopener noreferrer" >itjobs</a>, conforme a linguagem selecionada e actualmente 
        está definido para ver os resultados das frameworks mais utilizadas em desenvolvimento web.
    </p>
    <p>
        O código pode ser visto no repositório github: <a href="#" >github</a>
    </p>
    <p>
        No futuro sairá uma versão mais completa onde serão adicionados mais sites e frameworks/bibliotecas.
    </p>
    <p>Se quiseres contatar-me podes fazê-lo por email: joaquim.rgf+projects@gmail.com</p>
</div>

{%endblock%}